@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: antiquewhite;
    margin: 0px;
}
header{
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.322);
    

}

nav{
    background-color: coral;
    padding: 3px;
    border-radius: 2px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.322);
    text-align: center;
    
}
nav > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 40px;
    

}
nav > a:hover{
    text-decoration: underline;
    color: darkgreen;
}
main{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.322);

}
section > p{
    font-weight: bold;
    text-decoration: underline;

}

article > aside{
    background-color: lightgray;
    text-align: center;
    margin: 0px;
}
footer{
    font-weight: bolder;
    background-color: brown;
    text-align: center;
    margin: 0px;
    padding: 2px;
    box-shadow:  2px 2px 6px rgba(0, 0, 0, 0.322);
    
    
}
footer > p{
    margin: 0px;
}